{% extends 'one-column.html.twig' %}
{% block title %}Password recovery{% endblock %}
{% block oneColumnBody %}
    <div class="title-2">Password recovery</div>
    <div style="font-weight:300;">For recovering your account, insert your login.<br/>You will receive an email containing the instructions for recovering your password</div>
    <div id="lost-password-form" class="my-3"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        const options = {
            successUrl: "{{ path('lostPasswordSuccess')|escape('js') }}",
            apiUrl: "{{ path('apiEmitLostPasswordTokenAction')|escape('js') }}"
        };
        const elem = document.getElementById("lost-password-form");
        loadComponent('lostPasswordForm', elem, options);
    </script>
{% endblock %}