{% extends 'one-column.html.twig' %}
{% block title %}Email sent{% endblock %}
{% block oneColumnBody %}
    <div class="title-2" style="color:green;">Email sent successfully</div>
    <div>An email containing the instructions for recovering your account was sent to: <strong>{{ email|escape }}</strong></div>
{% endblock %}