{% extends 'one-column.html.twig' %}
{% block title %}Password change success{% endblock %}
{% block oneColumnBody %}
    <div class="title-2" style="color:green;">Password changed</div>
    <div style="font-weight:300;">Your password was changed successfully</div>
{% endblock %}