{% extends 'one-column.html.twig' %}
{% block title %}Password change{% endblock %}
{% block oneColumnBody %}
    <div class="title-2">Change password</div>
    <div style="font-weight:300;">Insert your new password</div>
    <div id="lost-password-change-form" class="my-3"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        const options = {
            token: decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent("token").replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1")),
            apiUrl: "{{ path('apiChangeLostPasswordAction')|escape('js') }}",
            successUrl: "{{ path('lostPasswordChangeSuccess')|escape('js') }}"
        };
        const elem = document.getElementById("lost-password-change-form");
        loadComponent('changeLostPasswordForm', elem, options);
    </script>
{% endblock %}