{% extends 'base.html.twig' %}
{% block title %}Registration{% endblock %}
{% block blockingJs %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block body %}
    {% include 'sections/main-navigation.html.twig' %}
    {% embed 'sections/main-header.html.twig' %}
        {% block rightHeader %}
            <div class="f-1 flex-container flex-centered">
                <div>
                    <div class="title-1 py-3 px-3 centered">
                        Registration
                    </div>
                    <div id="registration-form">
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        const options = {
            apiUrl:  "{{ path('apiCreateAccountAction')|escape('js') }}",
            successUrl: "{{ path('registrationSuccess')|escape('js') }}"
        };
        const elem = document.getElementById("registration-form");
        loadComponent('registrationForm', elem, options);
    </script>
{% endblock %}