{% extends 'base.html.twig' %}
{% block title %}Registration completed{% endblock %}
{% block body %}
    {% include 'sections/main-navigation.html.twig' %}
    {% embed 'sections/main-header.html.twig' %}
        {% block rightHeader %}
            <div class="f-1 flex-container flex-centered">
                <div>
                    <div class="title-1 py-3 px-3 centered">
                        Registration
                    </div>
                    <div class="centered">
                        <strong style="color: green;">You were registered successfully!</strong>
                        <p>
                            We are glad you joined our community.<br>
                            In order to start immediately to play, download the client.
                        </p>
                        <div>{% include 'components/download-button.html.twig' %}</div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}