Hi {{ name }},<br/>
someone triggered the account recovery process for your login.<br/>
If it was not you, ignore this mail. Otherwise, follow the procedure below.<br/><br/>
For changing your password, click on this link <a href="{{ link }}">Password recovery link</a><br/>
This link will last only for 15 minutes.<br/><br/>
If you have any problem contact us via forum or in game or any other option you have,<br/>
<i>Metin2Warlords Team</i>