{% extends 'one-column.html.twig' %}
{% block oneColumnBody %}
    <div class="title-2" style="color:green;">Password changed successfully</div>
    <div>Your password was changed</div>
{% endblock %}