<a href="https://mega.nz/file/Yd4UFJoB#GD2WSyq-lP5G7aS-NyJXZUlNSPKfd4lGAhT_FO8d_rs" class="abtn abtn-green uppercase ls-2 flex-container">
    Download
    <img src="{{ asset('build/images/download-icon.png') }}"/>
</a>